html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --color-mono-100: rgba(0, 0, 0, 0.8);
  --color-mono-200: rgba(30, 30, 30, 0.8);
  --color-mono-300: rgba(60, 60, 60, 0.8);
  --color-mono-400: rgba(90, 90, 90, 0.8);
  --color-mono-900: rgba(255, 255, 255, 1.0);
  --color-error-0: rgba(255, 77, 25, 0.8);
  --color-warning-0: rgba(255, 179, 0, 0.8);
  --color-info-0: rgba(55, 192, 255, 0.8);

  /* px values relative to viewport height
  /* will always grow proportionally with viewport height */
  /* conversion formula: ((px / 1440) * 100)vh */
  --1-px-vh: 0.069vh;
  --1c5-px-vh: 0.104vh;
  --2-px-vh: 0.138vh;
  --3-px-vh: 0.208vh;
  --4-px-vh: 0.276vh;
  --10-px-vh: 0.694vh;
  --20-px-vh: 1.388vh;
  --40-px-vh: 2.776vh;
  --50-px-vh: 3.472vh;
  --100-px-vh: 6.944vh;
  --150-px-vh: 10.416vh;
  --200-px-vh: 13.888vh;
  --250-px-vh: 17.361vh;
  --400-px-vh: 27.777vh;
  --450-px-vh: 31.25vh;
  --500-px-vh: 34.722vh;

  /* font families */
  --font-family-geist: 'Geist', sans-serif;

  /* font sizes */
  --font-size-xs: 1.000vh;
  --font-size-s: 1.250vh;
  --font-size-r: 1.500vh;
  --font-size-l: 2.000vh;
  --font-size-xl: 2.500vh;
  --font-size-2xl: 3.000vh;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* global settings */
  font-family: var(--font-family-geist), sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-r);
  line-height: 1.4em;
  color: var(--color-mono-900);
}

.menu {
  position: fixed;
  right: 2.5%;
  top: 25%;
  display: flex;
}

.menu .image {
  scale: 0.6;
  transform-origin: top right;
  padding-right: var(--20-px-vh);
}

.menu .items {
  min-width: var(--450-px-vh);
  max-width: var(--450-px-vh);
}

.menu .items .header {
  font-weight: var(--font-weight-semibold);
}

.menu .items .item,
.menu .items .description {
  background-color: var(--color-mono-100);
}

.menu .items .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: var(--50-px-vh);
  max-height: var(--50-px-vh);
  padding: 0 var(--20-px-vh) 0 var(--20-px-vh);
}

.menu .items .focused {
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-mono-300);
  animation-name: highlightFocused;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.menu .items .separator {
  min-height: var(--3-px-vh);
  max-height: var(--3-px-vh);
  background-color: var(--color-mono-300);
}

.menu .items .description {
  padding: var(--20-px-vh)
}

@keyframes highlightFocused {
  0%   { background-color: var(--color-mono-400); }
  50%  { background-color: var(--color-mono-300); }
  100% { background-color: var(--color-mono-400); }
}

.breadcrumps {
  position: fixed;
  top: var(--10-px-vh);
  left: var(--10-px-vh);
  display: flex;
  flex-direction: row;
  gap: var(--20-px-vh);
  font-size: var(--font-size-s);
  color: var(--color-mono-900);
}

.drop-shadow-1px {
  text-shadow:
    0 var(--1-px-vh) black,
    var(--1-px-vh) 0 black,
    var(--1-px-vh) var(--1-px-vh) black;
}

.drop-shadow-1c5px {
  text-shadow:
    0 var(--1c5-px-vh) black,
    var(--1c5-px-vh) 0 black,
    var(--1c5-px-vh) var(--1c5-px-vh) black;
}

.drop-shadow-2px {
  text-shadow:
    0 var(--1-px-vh) black,
    var(--1-px-vh) 0 black,
    var(--1-px-vh) var(--1-px-vh) black,
    0 var(--2-px-vh) black,
    var(--2-px-vh) 0 black,
    var(--2-px-vh) var(--2-px-vh) black;
}

.toasts {
  position: fixed;
  top: var(--50-px-vh);
  left: var(--10-px-vh);
  display: flex;
  flex-direction: column;
  gap: var(--20-px-vh);
  z-index: 999; /* show toasts on top of everything */
}

.toasts .toast {
  min-width: var(--400-px-vh);
  max-width: var(--400-px-vh);
  background-color: var(--color-mono-100);
  border-left-style: solid;
  border-left-width: var(--10-px-vh);
  display: flex;
  flex-direction: column;
  padding: var(--10-px-vh) var(--20-px-vh);
}

.toasts .error {
  border-left-color: var(--color-error-0);
}

.toasts .error .label {
  color: var(--color-error-0);
}

.toasts .warning {
  border-left-color: var(--color-warning-0);
}

.toasts .warning .label {
  color: var(--color-warning-0);
}

.toasts .info {
  border-left-color: var(--color-info-0);
}

.toasts .info .label {
  color: var(--color-info-0);
}

.toasts .label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--2-px-vh);
}

.hud {
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
}

.hud .speed {
  display: flex;
  vertical-align: bottom;
  gap: var(--10-px-vh);
  justify-content: flex-end;
  align-items: flex-end;
}

.hud .speed .value {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
}

.hud .speed .wrapper {
  display: inline-block;
}

.hud .speed .unit {
  font-size: var(--font-size-s);
}
